body {
  border: solid;
  width: 620px;
}
.Settings {
  border: solid;
  height: 20%;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}
.board {
  border: solid;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}
.pixle {
  background-color: lightblue;
  width: 10px;
  height: 10px;
}
.scoreBoard {
  display: flex;
}
